@import "tailwindcss";

@theme {
  /* font */
  --font-sans: "Roboto", "system-ui", sans-serif;

  /* colors */
  --color-primary: #628141;
  --color-secondary: #8b9a6d;
  --color-text: #1b211a;
  --color-text-light: #6b6f63;
  --color-accent: #edefeb;
  --color-background: #ebd5ab;
  --color-background-2: #f7f7f6;
  --color-background-light: #efeae2;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}

/* html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: #020617;
  color: #f1f5f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html,
body {
  background-color: white;
}

/* .btn {
  background-color: #628141;
} */

.line-divider {
  width: 100%;
  height: 0.5px;
  background-color: #3b3b3b;
  border: none;
}

.main-container {
  /* margin: 1rem; */
  background: transparent;
}

.navbar {
  margin-bottom: 0.5rem;
}

.nav-icon:hover {
  color: #1976d2;
}

@media screen and (max-width: 500px) {
  .main-container {
    margin: 0rem;
  }

  .nav-img {
    display: none;
  }
}
