@import "tailwindcss";

@theme {
  /* font */
  --font-sans: "Roboto", "system-ui", sans-serif;
  --font-landing: "Plus Jakarta Sans", "system-ui", sans-serif;

  /* colors */
  --color-primary: #628141;
  --color-secondary: #8b9a6d;
  --color-text: #1b211a;
  --color-text-light: #6b6f63;
  --color-accent: #edefeb;
  --color-background: #ebd5ab;
  --color-background-2: #f7f7f6;
  --color-background-light: #fbf7ef;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}
